@namespace Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets

<mj-text>
    <div class="text">
        <h1>@((MarkupString)Model.Title)</h1>
        <p>@((MarkupString)Model.Content)</p>
    </div>
</mj-text>

@code {
    [Parameter]
    public ProductWidgetProperties Properties { get; set; } = new();
}