@using Kentico.Xperience.Mjml.StarterKit.Rcl.Widgets
@using Kentico.VisualBuilderComponents.Rcl.Components

@inject CssLoaderService CssLoaderService;
@code {
    private string cssContent = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        cssContent = await CssLoaderService.GetCssAsync("assets/css/style.css"); // Path inside wwwroot
    }
}
<mjml>
    <mj-head>
        <mj-title>Simple Marketing Email</mj-title>
        <EmailBuilderStyles />
        <mj-style inline="inline">
            .header-image { 
                max-width: 600px;
            }
            .content-text {
            font-family: 'Helvetica Neue', Arial, sans-serif;}
        </mj-style>
    </mj-head>
    <mj-body color="red">
        <mj-section>
            <mj-column width="100%">
                <mj-text>
                    Product Title
                </mj-text>
                <mj-text>
                    Product Content
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column width="100%">
                <mj-text>
                  Article Title
                </mj-text>
                <mj-text font-size="16px"
                            padding="10px">
                    Article Content
                </mj-text>
                <mj-image>
                </mj-image>
            </mj-column>
        </mj-section>

        <mj-button>
           Button text
        </mj-button>

        <mj-text>
            <a href="#">
                Href
            </a>
        </mj-text>
        <EmailBuilderScripts />
    </mj-body>
</mjml>
 